@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
th{
  white-space: nowrap;
}
.table-set{
 max-width: 1000px;
 min-width: 200px;
 overflow-x: auto;
}
.main-set{
  background: linear-gradient(45deg, #91f68c, #00f91b47);
}
table td,th {
  padding: 0.65em!important;
}
table tr {
   border: 1px solid #ddd;
  
}
table {
   border: 1px solid #ddd;

}